* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Pc css*/
@media screen and (min-width:768px){
    #main_sp {
        display: none;
    }
    #main_pc {
            display: block;
            width: 100%;
            height: 0;
            padding-top: 46.785vw;
            max-height: 100vh;
            overflow: hidden;
            line-height: 2;
            margin-bottom: 7.8rem;
            position: relative;
        }
    .imglayer1 {
        width: 100%;
        height: 0;
        padding-top: 50%;
        background-image: url(img/image4.png);
        background-repeat: repeat-x;
        background-size: 1898px;
        /* スライド画像レスポンシブ */
        /* background-size: auto 30vw; */
        will-change: animation;
        animation: bg-slider 10s linear infinite;
        position: absolute;
        left: 0;
        top: 0;
    }
    @keyframes bg-slider {
        from { background-position: 0 0; }
        to { background-position: 1898px 0; } 
        /* スライド画像レスポンシブ */
        /* to { background-position: calc(30vw / 258 * 1285) 0; }  */
    } 
    .layer1 { /*wave1*/
        width: 100%;
        height: 47.57vw;
        position: absolute;
        left: 0;
        top: 9.5vw;
    }
    .layer1 svg path {
            fill:#009E8A;
            will-change: animation;
            animation:wave linear 5s infinite;
    }

    @keyframes wave {
            from { transform:translate(-2000px); }
            to { transform:translate(0); }
    }
    .layer2 {
        background-image: url(/img/ttl_pc.svg);
        background-size: 100% auto;
        position: absolute;
        left: 0;
        top: 22.85%;
        width: 100%;
        height: 0;
        padding-top: 45%;
    }

    .topTitle{
        position: absolute;
        font-size: 2vw;
        top: 3%;
        left: 10%;
        width: 30vw;
    }

    .topTitle h1,p{
        margin: 10px;
    }

    /* タイトル部画像挿入テスト */
    /* .layer2 img{
        position: absolute;
        top: 5%;
        left: 28%;
        width: 7vw;
    } */

    .imglayer2 {
        width: 100%;
        height: 0;
        padding-top: 21vw;
        background-image: url(img/image4.png);
        background-size: 1958px;
        background-repeat: repeat-x;
        background-position: left bottom;
        will-change: animation;
        animation: bg-slider2 15s linear infinite;
        position: absolute;
        left: 0;
        bottom: 0;   
        clip-path: url(#midWave);
        overflow: hidden;
    }
    @keyframes bg-slider2 {
        from { background-position: 0 0; }
        to { background-position: -1958px 0; } 
    }
    #midWave {
        will-change: animation;
        animation:midWave 3s linear infinite;
    }
    @keyframes midWave {
        from{transform: translateX(0);}
        to{transform: translateX(-1000px);}
    }
    .layer3 { /*wave2*/
        overflow:hidden;
        width: 100%;
        height: 9vw;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .layer3 svg path {
            fill:white;
            will-change: animation;
            animation:wave2 linear 3s infinite;
    }
    @keyframes wave2 {
        from{transform: translateX(-1200px);}
        to{transform: translateX(0px);}
    }
}

 
/*SmartPone css*/
@media screen and (max-width: 767px) {
        
    #main_pc {
        display: none;
    }
    
    #main_sp {        
        display: block;
        width: 100%;
        height: 0;
        padding-top: 170vw;
        max-height: 100vh;
        overflow: hidden;
        position: relative;
    }
    .imglayer1_sp {
        width: 100%;
        height: 0;
        padding-top: 90%;
        background-image: url(img/image4.png);
        background-size: 2656px;
        background-repeat: repeat-x;
        will-change: animation;
        animation: bg-slider_sp 25s linear infinite;
        position: absolute;
        left: 0;
        top: 0;
    }
    @keyframes bg-slider_sp {
        from { background-position: -2656px 0; }
        to { background-position: 0 0; } 
    } 
    .layer1_sp { /*sp_wave1*/
        width: 100%;
        height: 113vw;
        height: 0vh;
        position: absolute;
        left: 0;
        top: 30vw;
    }
    .layer1_sp svg path {
            fill:#009E8A;
            will-change: animation;
            animation:wave_sp linear 5s infinite;
    }
    @keyframes wave_sp {
            from { transform:translate(-1400px); }
            to { transform:translate(0%); }
    }
    .layer2_sp {
        background-image: url(/img/ttl_sp2.png);
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: 0 50vw;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 0;
        padding-top: 180vw;
    }

    .topTitle_sp{
        position: absolute;
        font-size: 5vw;
        top: 39%;
        left: 8%;
    }

    .topTitle_sp h1,p{
        margin: 10px;
    }

    .imglayer2_sp {
        width: 100%;
        height: 0;
        padding-top: 70vw;
        background-image: url(/img/image4.png);
        background-size: 2500px;
        background-repeat: repeat-x;
        background-position: left center;
        will-change: animation;
        animation: bg-slider2_sp 15s linear infinite;
        position: absolute;
        left: 0;
        bottom: 10vw;   
        clip-path: url(#midWave_sp);
        
    }
    @keyframes bg-slider2_sp {
        from { background-position: 0 0; }
        to { background-position: -2500px 0; } 
    }
    #midWave_sp {
        will-change: animation;
        animation:midWave_sp 3s linear infinite;
    }
    @keyframes midWave_sp {
        from { transform:translate(0); }
        to { transform:translate(-1000px); }
    }
    .layer3_sp {
        width: 100%;
        position: absolute;
        left: 0;
        bottom:7vw;
    }
    
    .layer3_sp svg path {
            fill:#fff;
            will-change: animation;
            animation:wave2_sp linear 2s infinite;
    }
    @keyframes wave2_sp {
        from { transform:translate(-1000px); }
        to { transform:translate(0); }
    }
}
